.box-layout{
background: url('/images/bg.png');
background-size: cover;
display:flex;
justify-content: center;
align-items: center;
height:100vh;
width: 100vw;
}

.box-layout__box{
    background: fade-out( white, 0.15);
    border-radius: 25px;
    text-align: center;
    width: 35rem;
    padding: $l-size $m-size;

}

.box-layout__title{
    margin:0 0 $m-size 0;
    line-height: 1;

}