.button_login{
    background:white;
    border:none;
    color: black;
    font-weight: 300;
    padding:$s-size;
    font-size:$font-size-large;
    border-radius: 5px;
}


.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}


.button--secondary{
  @extend .button;
  background: #888888;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 1px 2px;
    border-radius:20px ;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }

.button--link{
  background: none;
  
}