.list-header{
    background: #3c6ab1;
    border:1px solid darken($color:#3c6ab1, $amount: 7%);
    color:white;
    display:flex;
    justify-content: space-between;
    padding:$s-size $m-size;

}

.list-item{
    border:1 px solid darken(#3c6ab1,  7%);
    border-top:none;
    display:flex;
    color:$dark-grey;
    flex-direction: column;
    padding:$s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: #8da6ca;
    }

    @media (min-width:$desktop-breakpoint){
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item--message{
    align-items: center;
    justify-content: center;
    color: $grey;
    padding:$m-size;
    &:hover{
        background: none;
    }
    font-weight: bold;
}


.list-item__title{
    margin:0;
    word-break:break-all ;
}

.list-item__subtitle{
    color:$grey;
    font-size: $font-size-small;
}

.list-item__data{
    margin:$s-size 0 0 0;
    @media(min-width:$desktop-breakpoint){
        margin:0;
        padding-left:$s-size ;
    }
}

.list-body{
    margin-bottom: $m-size;
    @media(min-width: $desktop-breakpoint){
        margin-bottom: $l-size;
    }
}


