.page_header{
    background:#f7f7f7;
    padding: $l-size 0;
    margin-bottom: $l-size ;
}

.page_header__actions{
    margin-top:$m-size;
}

.page_header__title{
    font-weight:300;
    margin:0;
    span{
        font-weight: bold;
    }
}