//colors
$dark-grey:#333;   
$blue: #1c88bf;
$dark-blue:#364051;
$grey:#666;

//font Size
$font-size-large:1.8rem;
$font-size-small :1.4rem;

//spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem

